<form data-moorl-merchant-finder="true"
      action="{{ path('moorl.merchant-finder.search') }}"
      method="post"
      data-form-csrf-handler="true">
    {{ sw_csrf('moorl.merchant-finder.search') }}

    {% block page_merchant_finder_form_inner %}
        <div class="row form-row">
            <div class="form-group col-12 col-lg-3">
                <input name="term" class="form-control" placeholder="{{ "moorl-merchant-finder.searchFor"|trans }}">
            </div>
            <div class="form-group col-12 col-lg-3">
                <input name="zipcode" class="form-control" placeholder="{{ "moorl-merchant-finder.zipcodeCity"|trans }}">
            </div>
            <div class="form-group col-6 col-lg-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ "moorl-merchant-finder.radius"|trans }}</span>
                    </div>
                    <select name="distance" class="form-control">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text">{{ "moorl-merchant-finder.km"|trans }}</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-6 col-lg-3">
                <button type="submit" class="btn btn-block btn-primary">
                    {{ "moorl-merchant-finder.search"|trans }}
                </button>
            </div>
        </div>
    {% endblock %}
</form>
