<div class="sw-cms-el-moorl-merchant-finder" :class="element.config.style.value">
    <div class="element-content">
        <div class="search-box">
            <div class="sw-block-field">
                <input type="text" placeholder="Searchbar..." disabled>
            </div>
        </div>
        <div class="map-box">
            <div class="map-content"></div>
        </div>
        <div class="results-box">
            <div class="results-content">
                <ul>
                    <li v-for="merchant in merchants">
                        <h4>{{ merchant.company }}</h4>
                        <p class="">{{ merchant.street }} {{ merchant.streetNumber }}
                            <br>{{ merchant.zipcode }} {{ merchant.city }}
                            <br>{{ merchant.country }}
                        </p>
                        <p class="">Phone: {{ merchant.phoneNumber }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
