{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_container %}
    {% if page.product.extensions.MoorlMerchantStocks %}

        {% if shopware.config.MoorlMerchantStock.config.productEnableSelection and shopware.config.MoorlMerchantStock.config.productEnableSelection != 'none' %}
            <h4>{{ "moorl-merchant-finder.choseMerchant"|trans }}</h4>

            {% if shopware.config.MoorlMerchantStock.config.productEnableSelection == 'select' %}
                <div class="form-group">
                    <select class="custom-select" name="lineItems[{{ page.product.id }}][merchantStockId]">
                        {% for key, merchantStock in page.product.extensions.MoorlMerchantStocks %}
                            <option value="{{ merchantStock.id }}" {% if shopware.config.MoorlMerchantStock.config.disableOnNoStock and merchantStock.isStock and merchantStock.stock < 1 %}disabled{% endif %}>
                                {{ merchantStock.merchant.translated.name ?: merchantStock.merchant.company }},
                                {{ "moorl-merchant-finder.stockInfo"|trans }}:
                                {{ merchantStock.isStock ? merchantStock.stock : "moorl-merchant-finder.available"|trans }},
                                {{ "moorl-merchant-finder.deliveryTime"|trans }}:
                                {{ merchantStock.deliveryTime.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <div class="cms-element-moorl-merchant-finder">
                    <ul class="list-group mb-3">
                        {% for key, merchantStock in page.product.extensions.MoorlMerchantStocks %}
                            <input id="radio-{{ merchantStock.merchantId }}" class="d-none" type="radio" name="lineItems[{{ page.product.id }}][merchantStockId]"
                                   value="{{ merchantStock.id }}"
                                   {% if shopware.config.MoorlMerchantStock.config.disableOnNoStock and merchantStock.isStock and merchantStock.stock < 1 %}disabled {% else %}{% if key == 0 %}checked{% endif %}{% endif %}>

                            <label for="radio-{{ merchantStock.merchantId }}"
                                   class="list-group-item moorl-merchant-finder-result-item">
                                {% sw_include '@Storefront/plugin/moorl-merchant-finder/component/result-item-static-main.html.twig' with {
                                    merchant: merchantStock.merchant
                                } %}
                                <div class="small">
                                    {{ "moorl-merchant-finder.stockInfo"|trans }}:
                                    {{ merchantStock.isStock ? merchantStock.stock : "moorl-merchant-finder.available"|trans }} |
                                    {{ "moorl-merchant-finder.deliveryTime"|trans }}:
                                    {{ merchantStock.deliveryTime.name }}
                                </div>
                            </label>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {{ parent() }}
{% endblock %}
