{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block page_product_detail_product_buy_button %}
    {% if product.extensions.MoorlMerchantStocks %}
        {% if shopware.config.MoorlMerchantStock.config.listingEnableSelection %}
            <div class="input-group">
                <select class="custom-select" name="merchantStockId">
                    {% for key, merchantStock in product.extensions.MoorlMerchantStocks %}
                        <option value="{{ merchantStock.id }}"
                                {% if shopware.config.MoorlMerchantStock.config.disableOnNoStock and merchantStock.isStock and merchantStock.stock < 1 %}disabled{% endif %}>
                            {{ merchantStock.merchant.translated.name ?: merchantStock.merchant.company }}:
                            {{ merchantStock.isStock ? merchantStock.stock : "moorl-merchant-finder.available"|trans }}
                        </option>
                    {% endfor %}
                </select>

                <div class="input-group-append">
                    <button class="btn btn-primary"
                            aria-label="{{ "listing.boxAddProduct"|trans }}"
                            title="{{ "listing.boxAddProduct"|trans }}">
                        {% sw_icon 'cart' %}
                    </button>

                    <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}" title="{{ "listing.boxProductDetails"|trans }}" class="btn btn-light">
                        {% sw_icon 'help' %}
                    </a>
                </div>
            </div>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}