{% if config('MoorlMerchantFinder.config.tileLayerUrl') %}
    {% set tileLayerUrl = config('MoorlMerchantFinder.config.tileLayerUrl') %}
{% else %}
    {% set tileLayerUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png' %}
{% endif %}
{% if config('MoorlMerchantFinder.config.tileLayerCopy') %}
    {% set tileLayerCopy = config('MoorlMerchantFinder.config.tileLayerCopy') %}
{% else %}
    {% set tileLayerCopy = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>' %}
{% endif %}

{% block element_moorl_merchant_finder %}
    <div class="cms-element-{{ element.type }} {{ element.config.style.value }}"
         data-tile-layer-url="{{ tileLayerUrl|raw }}"
         data-tile-layer-copy='{{ tileLayerCopy|raw }}'
         data-search-params="{{ config('MoorlMerchantFinder.config.searchParams') }}"
         style="
                 --style-height: {{ element.config.minHeight.value }};
                 --style-gutter: {{ element.config.borders.value }};
                 --style-results-width: {{ element.config.resultsWidth.value }};">
        <div class="element-content" id="{{ element.id }}">
            {% if config('MoorlMerchantFinder.config.enableSearch') %}
                <div class="search-box">
                    {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/search-form.html.twig' %}
                </div>
            {% else %}
                <form data-moorl-merchant-finder="true"
                      class="d-none"
                      action="{{ seoUrl('moorl.merchant-finder.search') }}"
                      method="post"
                      data-form-csrf-handler="true">
                    {{ sw_csrf('moorl.merchant-finder.search') }}
                    <input type="hidden" name="items" value="{{ element.config.items.value }}">
                    <button type="submit"></button>
                    {% for rule in config('MoorlMerchantFinder.config.searchRules') %}
                        <input type="hidden" name="rules[]" value="{{ rule }}">
                    {% endfor %}
                </form>
            {% endif %}
            <div class="map-box">
                <div class="map-content">
                    {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/map.html.twig' %}
                </div>
            </div>
            <div class="results-box">
                <div class="results-content">
                    {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/result-list.html.twig' %}
                </div>
            </div>
        </div>
        <div class="d-none">
            <a data-toggle="modal"
               href="javascript:"
               data-url=""
               class="btn btn-sm btn-light">{{ "moorl-merchant-finder.more"|trans }}</a>
        </div>
    </div>
{% endblock %}
