{% sw_extends '@Storefront/storefront/element/cms-element-moorl-foundation-listing.html.twig' %}

{# Set link to overview page with pre selected filter #}
{% if config('MoorlMerchantFinder.config.category') %}
    {% if page.creator %}
        {% set listingHeaderLink = seoUrl('frontend.navigation.page', { navigationId: config('MoorlMerchantFinder.config.category') }) ~ "?moorl-magazine-article-author=" ~ page.creator.id %}
    {% endif %}

    {% if page.product %}
        {% set listingHeaderLink = seoUrl('frontend.navigation.page', { navigationId: config('MoorlMerchantFinder.config.category') }) ~ "?product=" ~ page.product.id %}
    {% endif %}
{% endif %}

{# Just define item layouts here #}
{# Case 1: From widget or search page #}
{# Case 2: From CMS (auto) #}
{# Case 3: From CMS (others) #}
{% block moorl_foundation_listing_item %}
    {% if element.fieldConfig.elements.itemLayout.value == 'standard' %}
        {% if element.fieldConfig.elements.listingLayout.value == 'standard' %}
            {% set listingColumns = 'cms-listing-col col-sm-12 col-lg-6 col-xl-4' %}
        {% endif %}

        <li class="{{ listingColumns }}"
            data-entity-id="{{ item.id }}"
            data-entity-location='{{ item.leafletLocation|json_encode }}'
            itemscope
            itemtype="https://schema.org/Place">
            {% sw_include '@Storefront/plugin/moorl-merchant-finder/component/merchant-listing/box.html.twig' %}
        </li>
    {% else %}
        {% sw_include '@Storefront/plugin/moorl-foundation/listing-item.html.twig' with {
            url: seoUrl('moorl.merchant.detail', {merchantId: item.id}),
            media: item.media,
            title: item.translated.name,
            meta: item.city,
            schemaOrgType: 'Place',
            description: item.translated.teaser
        } %}
    {% endif %}
{% endblock %}

{% block moorl_foundation_listing_empty %}
    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
        type: 'info',
        content: 'moorl-merchant-finder.emptyResultMessage'|trans|sw_sanitize
    } %}
{% endblock %}

{% block moorl_foundation_listing %}
    {% if searchResult.extensions.me %}
        <meta data-entity-id="me"
              data-entity-location='{{ searchResult.extensions.me.leafletLocation|merge({
                  popup: 'moorl-merchant-finder.searchLocation'|trans
              })|json_encode }}'>
    {% endif %}

    {{ parent() }}
{% endblock %}
