{% if shopware.config.MoorlMerchantFinder.config.tileLayerUrl %}
    {% set tileLayerUrl = shopware.config.MoorlMerchantFinder.config.tileLayerUrl %}
{% else %}
    {% set tileLayerUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png' %}
{% endif %}
{% if shopware.config.MoorlMerchantFinder.config.tileLayerCopy %}
    {% set tileLayerCopy = shopware.config.MoorlMerchantFinder.config.tileLayerCopy %}
{% else %}
    {% set tileLayerCopy = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>' %}
{% endif %}

{% block element_moorl_merchant_finder %}
    <div class="cms-element-{{ element.type }} {{ element.config.style.value }}"
         data-tile-layer-url="{{ tileLayerUrl|raw }}"
         data-tile-layer-copy='{{ tileLayerCopy|raw }}'
         style="
             --style-height: {{ element.config.minHeight.value }};
             --style-gutter: {{ element.config.borders.value }};
             --style-results-width: {{ element.config.resultsWidth.value }};">
        <div class="element-content" id="{{ element.id }}">
            <div class="search-box">
                {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/search-form.html.twig' %}
            </div>
            <div class="map-box">
                <div class="map-content">
                    {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/map.html.twig' %}
                </div>
            </div>
            <div class="results-box">
                <div class="results-content">
                    {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/result-list.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
