{% if shopware.config.MoorlMerchantFinder.config.tileLayerUrl %}
    {% set tileLayerUrl = shopware.config.MoorlMerchantFinder.config.tileLayerUrl %}
{% else %}
    {% set tileLayerUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png' %}
{% endif %}
{% if shopware.config.MoorlMerchantFinder.config.tileLayerCopy %}
    {% set tileLayerCopy = shopware.config.MoorlMerchantFinder.config.tileLayerCopy %}
{% else %}
    {% set tileLayerCopy = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>' %}
{% endif %}

{% if shopware.config.MoorlMerchantFinder.config.markerCustom %}
    {# Gathering media #}
    {% set defaultMarkerMediaIds = [] %}
    {% if shopware.config.MoorlMerchantFinder.config.iconUrl %}
        {% set defaultMarkerMediaIds = defaultMarkerMediaIds|merge([shopware.config.MoorlMerchantFinder.config.iconUrl]) %}
    {% endif %}
    {% if shopware.config.MoorlMerchantFinder.config.iconRetinaUrl %}
        {% set defaultMarkerMediaIds = defaultMarkerMediaIds|merge([shopware.config.MoorlMerchantFinder.config.iconRetinaUrl]) %}
    {% endif %}
    {% if shopware.config.MoorlMerchantFinder.config.shadowUrl %}
        {% set defaultMarkerMediaIds = defaultMarkerMediaIds|merge([shopware.config.MoorlMerchantFinder.config.shadowUrl]) %}
    {% endif %}
    {% set mediaCollection = searchMedia(defaultMarkerMediaIds, context.context) %}

    {% set defaultMarker = {
        iconUrl: mediaCollection.get(shopware.config.MoorlMerchantFinder.config.iconUrl).url,
        iconRetinaUrl: mediaCollection.get(shopware.config.MoorlMerchantFinder.config.iconRetinaUrl).url,
        shadowUrl: mediaCollection.get(shopware.config.MoorlMerchantFinder.config.shadowUrl).url,
        iconSize: [
            shopware.config.MoorlMerchantFinder.config.iconSizeX,
            shopware.config.MoorlMerchantFinder.config.iconSizeY
        ],
        shadowSize: [
            shopware.config.MoorlMerchantFinder.config.shadowSizeX,
            shopware.config.MoorlMerchantFinder.config.shadowSizeY
        ],
        iconAnchor: [
            shopware.config.MoorlMerchantFinder.config.iconAnchorX,
            shopware.config.MoorlMerchantFinder.config.iconAnchorY
        ],
        shadowAnchor: [
            shopware.config.MoorlMerchantFinder.config.shadowAnchorX,
            shopware.config.MoorlMerchantFinder.config.shadowAnchorY
        ],
        popupAnchor: [
            shopware.config.MoorlMerchantFinder.config.popupAnchorX,
            shopware.config.MoorlMerchantFinder.config.popupAnchorY
        ]
    } %}{% else %}
    {% set defaultMarker = null %}
{% endif %}

{% block element_moorl_merchant_finder %}
    <div class="cms-element-{{ element.type }} {{ element.config.style.value }}"
         data-tile-layer-url="{{ tileLayerUrl|raw }}"
         data-tile-layer-copy='{{ tileLayerCopy|raw }}'
         data-default-marker='{{ defaultMarker|json_encode|raw }}'
         data-search-params="{{ shopware.config.MoorlMerchantFinder.config.searchParams }}"
         style="
                 --style-height: {{ element.config.minHeight.value }};
                 --style-gutter: {{ element.config.borders.value }};
                 --style-results-width: {{ element.config.resultsWidth.value }};">
        <div class="element-content" id="{{ element.id }}">
            <div class="search-box">
                {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/search-form.html.twig' %}
            </div>
            <div class="map-box">
                <div class="map-content">
                    {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/map.html.twig' %}
                </div>
            </div>
            <div class="results-box">
                <div class="results-content">
                    {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/result-list.html.twig' %}
                </div>
            </div>
        </div>
        <div class="d-none">
            <a data-toggle="modal"
               href="javascript:"
               data-url=""
               class="btn btn-sm btn-light">{{ "moorl-merchant-finder.more"|trans }}</a>
        </div>
    </div>
{% endblock %}
