<li id="<% this.id %>" class="list-group-item moorl-merchant-finder-result-item">
    <div class="">
        <div class="">
            <h4 class="">
                <% this.company %>
                <% if (this.distance != null) { %>
                <small class="text-small float-right">{{ "moorl-merchant-finder.distance"|trans }}: <% parseInt(this.distance) %> {{ "moorl-merchant-finder.km"|trans }}</small>
                <% } %>
            </h4>
            <div class="row justify-content-between">
                <div class="col-6">
                    <p class=""><% this.street %> <% this.streetNumber %>
                        <br><% this.zipcode %> <% this.city %>
                        <% if (this.country != null) { %>
                        <br><% this.country %>
                        <% } %>
                    </p>
                    <% if (this.phoneNumber != null) { %>
                    <p class="">{{ "moorl-merchant-finder.phoneNumber"|trans }} <% this.phoneNumber %></p>
                    <% } %>
                </div>
                <div class="col-6">
                    <% if (this.description != null) { %>
                    <b>{{ "moorl-merchant-finder.description"|trans }}</b>
                    <p class=""><% this.description %></p>
                    <% } %>
                    <% if (this.openingHours != null) { %>
                    <b>{{ "moorl-merchant-finder.openingHours"|trans }}</b>
                    <p class=""><% this.openingHours %></p>
                    <% } %>
                </div>
            </div>
            <p class="mt-2">
                <% if (this.merchantUrl != null) { %>
                <a href="<% this.merchantUrl %>" class="btn btn-secondary">{{ "moorl-merchant-finder.merchantUrl"|trans }}</a>
                <% } %>
                <% if (this.shopUrl != null) { %>
                <a href="<% this.shopUrl %>" class="btn btn-secondary">{{ "moorl-merchant-finder.shopUrl"|trans }}</a>
                <% } %>
                <% if (this.locationLon != null) { %>
                <a href="javascript:" data-location-lat="<% this.locationLat %>" data-location-lon="<% this.locationLon %>" data-item="<% this.id %>" class="btn btn-secondary">{{ "moorl-merchant-finder.displayOnMap"|trans }}</a>
                <% } %>
            </p>
        </div>
    </div>
</li>