<li id="<% v.id %>" class="list-group-item moorl-merchant-finder-result-item">
    <div class="">
        <div class="">
            <h4 class="">
                <% v.company %>
                <% if (v.distance != null) { %>
                <small class="text-small float-right">{{ "moorl-merchant-finder.distance"|trans }}: <% parseInt(v.distance) %> {{ "moorl-merchant-finder.km"|trans }}</small>
                <% } %>
            </h4>
            <div class="row justify-content-between">
                <div class="col-6">
                    <p class=""><% v.street %> <% v.streetNumber %>
                        <br><% v.zipcode %> <% v.city %>
                        <% if (v.country != null) { %>
                        <br><% v.country %>
                        <% } %>
                    </p>
                    <% if (v.phoneNumber != null) { %>
                    <p class="">{{ "moorl-merchant-finder.phoneNumber"|trans }} <% v.phoneNumber %></p>
                    <% } %>
                </div>
                <div class="col-6">
                    <% if (v.description != null) { %>
                    <b>{{ "moorl-merchant-finder.description"|trans }}</b>
                    <p class=""><% v.description %></p>
                    <% } %>
                    <% if (v.openingHours != null) { %>
                    <b>{{ "moorl-merchant-finder.openingHours"|trans }}</b>
                    <p class=""><% v.openingHours %></p>
                    <% } %>
                </div>
            </div>
            <p class="mt-2">
                <% if (v.merchantUrl != null) { %>
                <a href="<% v.merchantUrl %>" class="btn btn-secondary">{{ "moorl-merchant-finder.merchantUrl"|trans }}</a>
                <% } %>
                <% if (v.shopUrl != null) { %>
                <a href="<% v.shopUrl %>" class="btn btn-secondary">{{ "moorl-merchant-finder.shopUrl"|trans }}</a>
                <% } %>
                <% if (v.locationLon != null) { %>
                <a href="javascript:" data-location-lat="<% v.locationLat %>" data-location-lon="<% v.locationLon %>" data-item="<% v.id %>" class="btn btn-secondary">{{ "moorl-merchant-finder.displayOnMap"|trans }}</a>
                <% } %>
            </p>
        </div>
    </div>
</li>