<div class="row g-3">
    {% block element_moorl_merchant_finder_result_tags %}
        {% if merchant.tags.count %}
            <div class="col">
                {% sw_icon 'tags' style {size:'xs', pack:'fas'} %}
                <b>{{ "moorl-merchant-finder.tags"|trans }}</b>
                <div class="tags">
                    {% for tag in merchant.tags %}
                        <span>{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block element_moorl_merchant_finder_result_categories %}
        {% if merchant.categories.count %}
            <div class="col">
                {% sw_icon 'tshirt' style {size:'xs', pack:'fas'} %}
                <b>{{ "moorl-merchant-finder.categories"|trans }}</b>
                <div class="categories">
                    {% for category in merchant.categories %}
                        <span>{{ category.name }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block element_moorl_merchant_finder_result_manufacturers %}
        {% if merchant.productManufacturers.count %}
            <div class="col-12">
                {% sw_icon 'industry' style {size:'xs', pack:'fas'} %}
                <b>{{ "moorl-merchant-finder.manufacturers"|trans }}</b>
                <div class="manufacturers">
                    {% for manufacturer in merchant.productManufacturers %}
                        {% if manufacturer.media %}
                            <img src="{{ manufacturer.media.url }}" title="{{ manufacturer.translated.name }}">
                        {% else %}
                            <span>{{ manufacturer.translated.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
</div>
