<table class="table table-striped table-sm" style="table-layout:fixed;">
    <tr>
        <th>{{ "moorl-merchant-finder.selectedMerchant"|trans }}</th>
        <td>{{ merchantStock.merchant.translated.name ? merchantStock.merchant.translated.name : merchantStock.merchant.company }}</td>
    </tr>
    <tr>
        <th>{{ "moorl-merchant-finder.deliveryTime"|trans }}</th>
        <td>{{ merchantStock.deliveryTime.translated.name }}</td>
    </tr>
    <tr>
        <th>{{ "moorl-merchant-finder.stockInfo"|trans }}</th>
        <td>
            {% if merchantStock.isStock %}
                {{ merchantStock.stock }}
            {% else %}
                {{ "moorl-merchant-finder.available"|trans }}
            {% endif %}
        </td>
    </tr>
</table>
