{% block element_moorl_merchant_finder_popup %}
    <b>{{ merchant.translated.name ?: merchant.company }}</b>
    <p>{{ merchant.street }} {{ merchant.streetNumber }}
        <br>{{ merchant.zipcode }} {{ merchant.city }}
        {% if merchant.country %}
            {{ merchant.country }}
        {% endif %}
    </p>
{% endblock %}
