{% if merchant.highlight %}
    <div class="highlight top-right">{{ "moorl-merchant-finder.highlight"|trans }}</div>
{% endif %}

{% block element_moorl_merchant_finder_result_title %}
    {% if config('MoorlMerchantFinder.config.showName') %}
        <h4>
            <span>{{ merchant.translated.name ?: merchant.company }}</span>
            {% if merchant.distance %}
                <small class="text-small">{{ "moorl-merchant-finder.distance"|trans }}: {{ merchant.distance }} {{ "moorl-merchant-finder.km"|trans }}</small>
            {% endif %}
        </h4>
    {% endif %}
{% endblock %}

<div class="row g-3">
    <div class="col-6">
        {% if merchant.media %}
            {% block element_moorl_merchant_finder_result_logo %}
                {% if config('MoorlMerchantFinder.config.showLogo') %}
                    <img src="{{ merchant.media.url }}">
                {% endif %}
            {% endblock %}
        {% endif %}

        {% block element_moorl_merchant_finder_result_address %}
            {% if config('MoorlMerchantFinder.config.showAddress') %}
                {% if merchant.street %}
                    <p>{{ merchant.street }} {{ merchant.streetNumber }}
                        <br>{{ merchant.zipcode }} {{ merchant.city }}
                        {% if merchant.country %}
                            {{ merchant.country }}
                        {% endif %}
                    </p>
                {% endif %}
            {% endif %}

            {% if config('MoorlMerchantFinder.config.showPhoneNumber') %}
                {% if merchant.phoneNumber %}
                    <p>{{ "moorl-merchant-finder.phoneNumber"|trans }} {{ merchant.phoneNumber }}</p>
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>

    <div class="col-6">
        {% block element_moorl_merchant_finder_result_description %}
            {% if config('MoorlMerchantFinder.config.showDescription') %}
                {% if merchant.teaser or merchant.translated.teaser %}
                    <b>{{ "moorl-merchant-finder.description"|trans }}</b>
                    <p style="white-space: pre-line">{{ merchant.translated.teaser ?: merchant.teaser }}</p>
                {% endif %}
            {% endif %}
        {% endblock %}

        {% block element_moorl_merchant_finder_result_opening_hours %}
            {% if config('MoorlMerchantFinder.config.showOpeningHours') %}
                {% if merchant.openingHours %}
                    {% sw_icon 'clock' style {size:'xs', pack:'fas'} %}
                    <b>{{ "moorl-merchant-finder.openingHours"|trans }}</b>
                    {% sw_include '@Storefront/plugin/moorl-foundation/opening-hours.html.twig' with {
                        'openingHours': merchant.openingHours
                    } %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>
</div>
