<div class="mt-2">
    {% block element_moorl_merchant_finder_result_button_merchant_url %}
        {% if merchant.merchantUrl %}
            <a href="{{ merchant.merchantUrl }}" target="_blank" class="btn btn-sm btn-light"><i
                        class="fas fa-info-circle"></i> {{ "moorl-merchant-finder.merchantUrl"|trans }}</a>
        {% endif %}
    {% endblock %}

    {% block element_moorl_merchant_finder_result_button_shop_url %}
        {% if merchant.shopUrl %}
            <a href="{{ merchant.shopUrl }}" target="_blank" class="btn btn-sm btn-light"><i
                        class="fas fa-shopping-cart"></i> {{ "moorl-merchant-finder.shopUrl"|trans }}</a>
        {% endif %}
    {% endblock %}

    {% block element_moorl_merchant_finder_result_button_location %}
        {# displayMode full is always with map #}
        {% if displayMode == 'full' %}
            {% if merchant.locationLon %}
                <a href="javascript:"
                   data-location-lat="{{ merchant.locationLat }}"
                   data-location-lon="{{ merchant.locationLon }}"
                   data-item="{{ merchant.id }}"
                   class="btn btn-sm btn-light">
                    <i class="fas fa-map-pin"></i> {{ "moorl-merchant-finder.displayOnMap"|trans }}
                </a>
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block element_moorl_merchant_finder_result_button_cms %}
        {% if shopware.config.MoorlMerchantFinder.config.detailPage == 'popup' %}
            <a href="javascript:"
               data-moorl-foundation-modal="{{ path('moorl.merchant-finder.merchant.modal', {'merchantId': merchant.id}) }}"
               class="btn btn-sm btn-light">{{ "moorl-merchant-finder.more"|trans }}</a>
        {% elseif shopware.config.MoorlMerchantFinder.config.detailPage == 'page' %}
            <a href="{{ path('moorl.merchant-finder.merchant.page', {'merchantId': merchant.id}) }}"
               class="btn btn-sm btn-light">{{ "moorl-merchant-finder.more"|trans }}</a>
        {% endif %}
    {% endblock %}
</div>