<li id="<% this.id %>" class="list-group-item moorl-merchant-finder-result-item">
    <div class="row form-row">
        <% if (this.mediaId != null) { %>
        {% block element_moorl_merchant_finder_result_logo %}
            <div class="col-2">
                <img data-src="<% this.media.url %>" class="img-fluid">
            </div>
        {% endblock %}
        <% } %>
        <div class="col-<% if (this.mediaId != null) { %>10<% } else { %>12<% } %>">
            {% block element_moorl_merchant_finder_result_title %}
                <h4 class="">
                    <% this.company %>
                    <% if (this.distance != null) { %>
                    <small class="text-small float-right">{{ "moorl-merchant-finder.distance"|trans }}: <% parseInt(this.distance) %> {{ "moorl-merchant-finder.km"|trans }}</small>
                    <% } %>
                </h4>
            {% endblock %}
            <div class="row form-row justify-content-between">
                {% block element_moorl_merchant_finder_result_address %}
                    <div class="col-6">
                        <p class=""><% this.street %> <% this.streetNumber %>
                            <br><% this.zipcode %> <% this.city %>
                            <% if (this.country != null) { %>
                            <br><% this.country %>
                            <% } %>
                        </p>
                        <% if (this.phoneNumber != null) { %>
                        <p class="">{{ "moorl-merchant-finder.phoneNumber"|trans }} <% this.phoneNumber %></p>
                        <% } %>
                    </div>
                {% endblock %}
                {% block element_moorl_merchant_finder_result_description %}
                    <div class="col-6">
                        <% if (this.description != null) { %>
                        <b>{{ "moorl-merchant-finder.description"|trans }}</b>
                        <p style="white-space: pre-line"><% this.description %></p>
                        <% } %>
                        <% if (this.openingHours != null) { %>
                        <b>{{ "moorl-merchant-finder.openingHours"|trans }}</b>
                        <p style="white-space: pre-line"><% this.openingHours %></p>
                        <% } %>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row form-row">
        {% block element_moorl_merchant_finder_result_tags %}
            <% if (this.tags.length != 0) { %>
            <div class="col-6">
                <i class="fas fa-tags"></i> <b>{{ "moorl-merchant-finder.tags"|trans }}</b>
                <div class="tags">
                    <% for ( var i = 0; i < this.tags.length; i++ ) { %>
                    <span><% this.tags[i].name %></span>
                    <% } %>
                </div>
            </div>
            <% } %>
        {% endblock %}
        {% block element_moorl_merchant_finder_result_categories %}
            <% if (this.categories.length != 0) { %>
            <div class="col-6">
                <i class="fas fa-tshirt"></i> <b>{{ "moorl-merchant-finder.categories"|trans }}</b>
                <div class="categories">
                    <% for ( var i = 0; i < this.categories.length; i++ ) { %>
                    <span><% this.categories[i].name %></span>
                    <% } %>
                </div>
            </div>
            <% } %>
        {% endblock %}
    </div>
    <% if (this.productManufacturers.length != 0) { %>
    <div class="row form-row">
        {% block element_moorl_merchant_finder_result_manufacturers %}
            <div class="col-12">
                <i class="fas fa-industry"></i> <b>{{ "moorl-merchant-finder.manufacturers"|trans }}</b>
                <div class="manufacturers">
                    <% for ( var i = 0; i < this.productManufacturers.length; i++ ) { %>
                    <% if (this.productManufacturers[i].media != null) { %>
                    <img data-src="<% this.productManufacturers[i].media.url %>" title="<% this.productManufacturers[i].name %>">
                    <% } else { %>
                    <span><% this.productManufacturers[i].name %></span>
                    <% } %>
                    <% } %>
                </div>
            </div>
        {% endblock %}
    </div>
    <% } %>
    <div class="mt-2">
        {% block element_moorl_merchant_finder_result_button_merchant_url %}
            <% if (this.merchantUrl != null) { %>
            <a href="<% this.merchantUrl %>" target="_blank" class="btn btn-sm btn-outline-dark"><i class="fas fa-info-circle"></i> {{ "moorl-merchant-finder.merchantUrl"|trans }}</a>
            <% } %>
        {% endblock %}
        {% block element_moorl_merchant_finder_result_button_shop_url %}
            <% if (this.shopUrl != null) { %>
            <a href="<% this.shopUrl %>" target="_blank" class="btn btn-sm btn-outline-dark"><i class="fas fa-shopping-cart"></i> {{ "moorl-merchant-finder.shopUrl"|trans }}</a>
            <% } %>
        {% endblock %}
        {% block element_moorl_merchant_finder_result_button_location %}
            <% if (this.locationLon != null) { %>
            <a href="javascript:" data-location-lat="<% this.locationLat %>" data-location-lon="<% this.locationLon %>" data-item="<% this.id %>" class="btn btn-sm btn-outline-dark"><i class="fas fa-map-pin"></i> {{ "moorl-merchant-finder.displayOnMap"|trans }}</a>
            <% } %>
        {% endblock %}
        {% block element_moorl_merchant_finder_result_button_cms %}
        {% endblock %}
    </div>
</li>
