<form data-moorl-merchant-finder="true"
      action="{{ seoUrl('moorl.merchant-finder.search') }}"
      method="post"
      data-form-csrf-handler="true">
    {{ sw_csrf('moorl.merchant-finder.search') }}

    <input type="hidden" name="type" value="{{ element.config.type.value }}">
    <input type="hidden" name="initiator" value="{{ element.config.initiator.value }}">
    <input type="hidden" name="items" value="{{ element.config.items.value }}">
    <input type="hidden" name="productId" value="{{ element.config.productId.value }}">

    {% block element_moorl_merchant_finder_form_inner %}
        <div class="row form-row {% if config('MoorlMerchantFinder.config.hideSearchLabels') %}is-hide-label{% endif %}">
            {% if config('MoorlMerchantFinder.config.enableTextSearch') %}
                {% block element_moorl_merchant_finder_form_inner_search %}
                    <div class="form-group col-6 col-lg">
                        <label for="{{ element.id }}term">{{ "moorl-merchant-finder.searchFor"|trans }}</label>
                        <input id="{{ element.id }}term" name="term" class="form-control" placeholder="{{ "moorl-merchant-finder.searchFor"|trans }}">
                    </div>
                {% endblock %}
            {% endif %}
            {% if element.data.countries %}
                {% set countryCode = app.request.locale|slice(3, 2) %}

                {% block element_moorl_merchant_finder_form_inner_countries %}
                    <div class="form-group col-6 col-lg">
                        <label for="{{ element.id }}countryCode">{{ "moorl-merchant-finder.country"|trans }}</label>
                        <select id="{{ element.id }}countryCode" name="countryCode" class="custom-select form-control">
                            <option value="">{{ "moorl-merchant-finder.allCountries"|trans }}</option>
                            {% for item in element.data.countries %}
                                <option {% if item.value == countryCode %}selected{% endif %} value="{{ item.value }}">{{ item.label }} ({{ item.count }})</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endblock %}
            {% endif %}
            {% block element_moorl_merchant_finder_form_inner_zipcode %}
                <div class="form-group col-6 col-lg">
                    <label for="{{ element.id }}zipcode">{{ "moorl-merchant-finder.zipcodeCity"|trans }}</label>
                    <div class="input-group">
                        {% if config('MoorlMerchantFinder.config.positionRequest') %}
                            <div class="input-group-prepend">
                                <button class="btn btn-primary"
                                        type="button"
                                        name="location"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="{{ "moorl-merchant-finder.myLocation"|trans }}"
                                        aria-label="{{ "moorl-merchant-finder.myLocation"|trans }}">
                                    <i class="fas fa-crosshairs"></i>
                                </button>
                            </div>
                        {% endif %}
                        <input id="{{ element.id }}zipcode"
                               name="zipcode"
                               value="{{ context.shippingLocation.address.zipcode }}"
                               class="form-control"
                               placeholder="{{ "moorl-merchant-finder.zipcodeCity"|trans }}">
                    </div>
                </div>
            {% endblock %}
            {% block element_moorl_merchant_finder_form_inner_distance %}
                <div class="form-group col-6 col-lg">
                    <label for="{{ element.id }}distance">{{ "moorl-merchant-finder.distance"|trans }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ "moorl-merchant-finder.radius"|trans }}</span>
                        </div>
                        <select id="{{ element.id }}distance" name="distance" class="custom-select form-control">
                            {% for distance in config('MoorlMerchantFinder.config.positionDistance') | split(',') %}
                                <option value="{{ distance }}">{{ distance }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">{{ "moorl-merchant-finder.km"|trans }}</span>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% if element.data.tags and element.config.tagFilter.value %}
                {% block element_moorl_merchant_finder_form_inner_tags %}
                    <div class="form-group col-6 col-lg">
                        <label for="{{ element.id }}tags">{{ "moorl-merchant-finder.tags"|trans }}</label>
                        <select id="{{ element.id }}tags" name="tags" class="custom-select form-control">
                            <option value="">{{ "moorl-merchant-finder.allTags"|trans }}</option>
                            {% for item in element.data.tags %}
                                <option {% if item.value == element.config.tagId.value %}selected{% endif %} value="{{ item.value }}">{{ item.label }} ({{ item.count }})</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endblock %}
            {% endif %}
            {% if element.data.productManufacturers and element.config.manufacturerFilter.value %}
                {% block element_moorl_merchant_finder_form_inner_manufacturers %}
                    <div class="form-group col-6 col-lg">
                        <label for="{{ element.id }}productManufacturerId">{{ "moorl-merchant-finder.manufacturers"|trans }}</label>
                        <select id="{{ element.id }}productManufacturerId" name="productManufacturerId" class="custom-select form-control">
                            <option value="">{{ "moorl-merchant-finder.allManufacturers"|trans }}</option>
                            {% for item in element.data.productManufacturers %}
                                <option {% if item.value == element.config.manufacturerId.value %}selected{% endif %} value="{{ item.value }}">{{ item.label }} ({{ item.count }})</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endblock %}
            {% endif %}
            {% if element.data.categories and element.config.categoryFilter.value %}
                {% block element_moorl_merchant_finder_form_inner_categories %}
                    <div class="form-group col-6 col-lg">
                        <label for="{{ element.id }}categoryId">{{ "moorl-merchant-finder.categories"|trans }}</label>
                        <select id="{{ element.id }}categoryId" name="categoryId" class="custom-select form-control">
                            <option value="">{{ "moorl-merchant-finder.allCategories"|trans }}</option>
                            {% for item in element.data.categories %}
                                <option {% if item.value == element.config.categoryId.value %}selected{% endif %} value="{{ item.value }}">{{ item.label }} ({{ item.count }})</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endblock %}
            {% endif %}
            {% block element_moorl_merchant_finder_form_inner_submit %}
                <div class="form-group col-6 col-lg">
                    <label for="{{ element.id }}submit">&nbsp;</label>
                    <button id="{{ element.id }}submit" type="submit" class="btn btn-block btn-primary" aria-label="{{ "moorl-merchant-finder.search"|trans }}">
                        <i class="fas fa-search-location"></i>
                        {{ "moorl-merchant-finder.search"|trans }}
                    </button>
                </div>
            {% endblock %}
        </div>
        {% block element_moorl_merchant_finder_form_inner_additional %}
            {% if element.config.initiator.value == 'merchant-picker' %}
                {% block element_moorl_merchant_finder_form_inner_additional_picker %}
                    {% if config('MoorlMerchantPicker.config.searchRules') %}
                        {% for rule in config('MoorlMerchantPicker.config.searchRules') %}
                            <input type="hidden"
                                   name="rules[]"
                                   value="{{ rule }}">
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            {% elseif element.config.initiator.value == 'merchant-stock' %}
                {% block element_moorl_merchant_finder_form_inner_additional_stock %}
                    {% if config('MoorlMerchantStock.config.searchRules') %}
                        {% for rule in config('MoorlMerchantStock.config.searchRules') %}
                            <input type="hidden"
                                   name="rules[]"
                                   value="{{ rule }}">
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            {% else %}
                {% block element_moorl_merchant_finder_form_inner_additional_default %}
                    {% if config('MoorlMerchantFinder.config.searchRules') %}
                        <div class="row form-row">
                            {% for rule in config('MoorlMerchantFinder.config.searchRules') %}
                                <div class="form-group col-6 col-lg">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="{{ rule }}Check" name="rules[]" value="{{ rule }}" checked>
                                        <label class="custom-control-label" for="{{ rule }}Check">{{ "moorl-merchant-finder.searchRules.#{rule}"|trans }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% endblock %}
        {% block element_moorl_merchant_finder_form_result_info %}
            {% if config('MoorlMerchantFinder.config.resultInfo') %}
                <div class="mb-3 text-muted text-center moorl-merchant-finder-result-info">&nbsp;</div>
            {% endif %}
        {% endblock %}
    {% endblock %}
</form>
