{% if shopware.config.MoorlMerchantFinder.config.tileLayerUrl %}
    {% set tileLayerUrl = shopware.config.MoorlMerchantFinder.config.tileLayerUrl %}
{% else %}
    {% set tileLayerUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png' %}
{% endif %}

{% if shopware.config.MoorlMerchantFinder.config.tileLayerCopy %}
    {% set tileLayerCopy = shopware.config.MoorlMerchantFinder.config.tileLayerCopy %}
{% else %}
    {% set tileLayerCopy = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>' %}
{% endif %}

<div class="modal fade" id="{{ element.config.id.value }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl cms-element-moorl-merchant-finder"
         role="document"
         data-tile-layer-url="{{ tileLayerUrl|raw }}"
         data-tile-layer-copy='{{ tileLayerCopy|raw }}'
         data-search-params="{{ shopware.config.MoorlMerchantFinder.config.searchParams }}"
         data-position-request="{{ shopware.config.MoorlMerchantFinder.config.positionRequest }}"
         style="--style-height: 60vh;--style-gutter: 10px;--style-results-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    {{ modalTitle }}
                </h3>
                <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">{% sw_icon 'x' %}</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="element-content">
                    <div class="search-box">
                        {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/search-form.html.twig' %}
                    </div>
                    <div class="map-box">
                        <div class="map-content">
                            {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/map.html.twig' %}
                        </div>
                    </div>
                    <div class="results-box">
                        <div class="results-content">
                            {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/result-list.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer text-right">
                {% if element.config.initiator.value == 'merchant-picker' %}
                    <form data-moorl-foundation-form="true"
                          action="{{ seoUrl('moorl-merchant-picker.pick') }}"
                          method="post"
                          data-form-csrf-handler="true">
                        {{ sw_csrf('moorl-merchant-picker.pick') }}

                        <input value=""
                               name="merchantId"
                               class="input-moorl-merchant-id"
                               type="hidden">

                        <button class="btn btn-primary" type="submit" name="action" value="pick">
                            {{ "moorl-merchant-finder.save"|trans }}
                        </button>

                        {% if shopware.config.MoorlMerchantPicker.config.resetSelection %}
                            <button class="btn btn-primary" type="submit" name="action" value="unset">
                                {{ "moorl-merchant-finder.resetSelection"|trans }}
                            </button>
                        {% endif %}

                        <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
                            {{ 'moorl-merchant-finder.close'|trans }}
                        </button>
                    </form>
                {% else %}
                    <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
                        {{ 'moorl-merchant-finder.close'|trans }}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>