<div class="modal-dialog modal-lg" role="document">
    {% set merchantSelectionOptions = {
        searchUrl: "/",
        pickUrl: "/",
        initiator: initiator
    } %}

    <form
            data-moorl-merchant-selection
            data-moorl-merchant-selection-options='{{ merchantSelectionOptions|json_encode }}'
            class="modal-content"
    >
        <div class="modal-header">
            <div class="modal-title h4">
                {{ "#{initiator}.modal-title"|trans }}
            </div>
            <button type="button" class="modal-close close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">{% sw_icon 'x' %}</span>
            </button>
        </div>

        <div class="modal-body moorl-foundation-modal-body">
            <div class="result-filter">
                <div class="row g-3">
                    <div class="col-6">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="col-6">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="result-list"></div>
        </div>

        <div class="modal-footer text-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                {{ 'general.back'|trans }}
            </button>

            <button class="btn btn-primary" type="submit">
                {{ 'general.formSubmit'|trans }}
            </button>
        </div>
    </form>
</div>

<div class="modal fade" id="{{ element.config.id.value }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog {% block selection_modal_class %}modal-xl {% endblock %}cms-element-moorl-merchant-finder"
         role="document"
         data-tile-layer-url="{{ tileLayerUrl|raw }}"
         data-tile-layer-copy='{{ tileLayerCopy|raw }}'
         data-search-params="{{ config('MoorlMerchantFinder.config.searchParams') }}"
         data-position-request="{{ config('MoorlMerchantFinder.config.positionRequest') }}"
         style="--style-height: 60vh;--style-gutter: 10px;--style-results-width: 400px;">
        {% block selection_modal_content %}
            <div class="modal-content">
                {% block selection_modal_header %}
                    <div class="modal-header">
                        <h3 class="modal-title">
                            {{ modalTitle }}
                        </h3>
                        <button type="button" class="modal-close close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">{% sw_icon 'x' %}</span>
                        </button>
                    </div>
                {% endblock %}

                {% block selection_modal_body %}
                    <div class="modal-body">
                        <div class="element-content">
                            {% block selection_modal_body_search_box %}
                                <div class="search-box">
                                    {% sw_include '@Storefront/storefront/element/cms-element-sidebar-filter.html.twig' %}
                                </div>
                            {% endblock %}

                            {% block selection_modal_body_map_box %}
                                <div class="map-box">
                                    <div class="map-content">
                                        {% sw_include '@MoorlFoundation/storefront/element/cms-element-moorl-location.html.twig' %}
                                    </div>
                                </div>
                            {% endblock %}

                            {% block selection_modal_body_results_box %}
                                <div class="results-box">
                                    <div class="results-content">
                                        {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/result-list.html.twig' %}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

                {% block selection_modal_footer %}
                    <div class="modal-footer text-right">
                        {% if element.config.initiator.value == 'merchant-picker' %}
                            <form data-moorl-foundation-form="true"
                                  action="{{ seoUrl('moorl-merchant-picker.pick') }}"
                                  method="post"
                                  data-form-csrf-handler="true">
                                {% block selection_modal_footer_form %}
                                    <input value="" name="merchantId" class="input-moorl-merchant-id" type="hidden">

                                    <button class="btn btn-primary" type="submit" name="action" value="pick">
                                        {{ "moorl-merchant-finder.save"|trans }}
                                    </button>

                                    {% if config('MoorlMerchantPicker.config.resetSelection') %}
                                        <button class="btn btn-primary" type="submit" name="action" value="unset">
                                            {{ "moorl-merchant-finder.resetSelection"|trans }}
                                        </button>
                                    {% endif %}

                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                                        {{ 'moorl-merchant-finder.close'|trans }}
                                    </button>
                                {% endblock %}
                            </form>
                        {% else %}
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                                {{ 'moorl-merchant-finder.close'|trans }}
                            </button>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>
